.Calendar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;

    .page {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .daysOfWeek {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(7, minmax(30px, 100px));
        grid-template-rows: 50px;
        gap: 10px;
        place-items: center;
    }

    .weekDay {
        color: white;
        font-weight: 700;
        font-size: large;
    }

    .days {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(7, minmax(30px, 100px));
        grid-template-rows: repeat(6, auto);
        gap: 10px;
    }

    .button {
        aspect-ratio: 1/1;
        padding: 0;
        transition:
            background-color 0s,
            border-color 0.3s;
    }

    .today {
        color: black;
        background-color: white;
        font-weight: 900;
    }

    .fire {
        color: red;
    }
}

.Controlls {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 760px;
    justify-content: start;

    &__input,
    &__prev,
    &__next,
    &__home {
        box-sizing: border-box;
        max-width: max-content;
        height: 40px;
    }
}

@media (max-width: 460px) {
    .Calendar {
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .Controlls {
        display: grid;
        grid-template: auto auto / 1fr 1fr 1fr;

        &__input {
            order: -1;
            grid-column: 1 / span 3;
        }

        &__input,
        &__prev,
        &__next,
        &__home {
            max-width: 100%;
        }
    }
}
