.PageLoader {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    font-size: xx-large;
    font-weight: 700;

    .loader {
        display: flex;
        place-items: center;
        aspect-ratio: 1/1;
    }
}
