.Input {
    height: max-content;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition:
        border-color 0.25s,
        background-color 0.25s;
}

.light {
    background-color: #e9e9e9;
    color: #1a1a1a;
    &:hover {
        border-color: #1a1a1a;
        background-color: #cecece;
    }
}

.dark {
    background-color: #1a1a1a;
    color: #e9e9e9;
    &:hover {
        border-color: #e9e9e9;
    }
}
